<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
    <target name="systemErrorsFile" xsi:type="File" fileName="${basedir}/logs/errors_${longdate:cached=true}.txt" >
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" encode="false" />
      </layout>
    </target>
    
    <target name="downloadedFilesInfo" xsi:type="File" fileName="${basedir}/logs/downloadedFiles_${longdate:cached=true}.log" >
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="url" layout="${message}" encode="false" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="systemErrorsFile" />
    <logger name="*" level="Info" writeTo="downloadedFilesInfo" />
  </rules>
</nlog>
